.game {
	animation: bgScroll 30s linear infinite;
	width: 100%;

	.game__score {
		position: absolute;
		left: 50%;
		top: 5%;
		transform: translate(-50%, -50%);
		font-size: 20px;
	}

	.game__smog {
		position: absolute;
		height: 110px;
		width: 140px;
		left: 15%;
		border-radius: 50%;
		z-index: 2;
	}

	.game__smog:before {
		content: '';
		position: absolute;
		width: 150px;
		height: 110px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-image: url("/img/cloud_happy.png");
	}

	.game__floor {
		width: 100%;
		height: 63px;
		bottom: 0;
		position: absolute;
	}
}

.sky {
	height: 450px;

	.sky__obstacle--cloud {
		position: absolute;
		height: 110px;
		width: 140px;
		border-radius: 50%;
		z-index: 2;
	}

	.sky__obstacle--cloud:before {
		content: '';
		position: absolute;
		width: 150px;
		height: 110px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-image: url("/img/enemy.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.sky__obstacle--plane {
		position: absolute;
		height: 100px;
		width: 136.52px;
		position: absolute;
		background-image: url("/img/plane.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.sky__thunder {
		position: absolute;
		height: 60px;
		width: 65px;
		background-image: url("/img/thunder.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 1;
	}

	.sky__rain {
		position: absolute;
		height: 60px;
		width: 50px;
		background-image: url("/img/rain.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 1;
	}
}

.factory {
	height: 286px;

	.factory__obstacle {
		position: absolute;
		bottom: 18%;
		height: 160px;
		width: 400px;
		z-index: 2;
	}

	.factory__obstacle:before {
		content: '';
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 203px;
		width: 419px;
		background-image: url("/img/factory.png");
		background-position: center;
		background-repeat: no-repeat;
	}
}

@keyframes bgScroll {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -1280px 0;
	}
}